// main: ../../_main.styl

.hero
  position relative
  overflow hidden
  min-height 80vh
.container.hero--container
  @media $medium
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-60%)
    display flex
    justify-content center
    align-items center
    align-content space-around
    margin-top 0
.hero--avatar
  width 50%
  max-width 170px
  display block
  margin 0 auto 20px
  position relative
  z-index 2
  &:before
    content ""
    display block
    position absolute
    background rgba(0,0,0,0.125)
    top 49%
    left 0
    right 0
    height 100vh
    transform rotate(-45deg)
    transform-origin 50% 0
    z-index 1
  &:after
    content ""
    display block
    position absolute
    top 0
    left 0
    width 100%
    padding-top 100%
    border-radius 100%
    theme(background-color, 'secondary', @($theme) {
      lighten(desaturate($theme, 5), 5)
    })
    transition background-color $theme-transition
    z-index 2
  svg
    position relative
    z-index 3
    background transparent
    border-radius 100%
    overflow hidden
  @media $medium
    max-width 200px
    margin-top 40px
  @media $large
    max-width 250px
.hero--title
  position relative
  z-index 2
  h3
    color rgba(0,0,0,0.6)
    margin-bottom 0.35em
    width 100%
    max-width 30em
    font-weight 400
  @media $medium
    padding-left 5%
  @media $large
    padding-left 10%
