// main: ../../_main.styl

.main-nav--menu
  position relative
  width 100vw
  height 100vh
  z-index 3
  padding 100px 40px 40px 40px
  theme(background-color, 'primary-dark')
  li
    padding 0.75em 0
    a
      text-decoration none
      color rgba(255,255,255,0.9)
      font-weight 700
  @media $medium
    width 400px
.main-nav--toggle-closed
  position absolute
  top 25px
  right 7%
  width 40px
  height 40px
  transform rotate(45deg)
  transform-origin(50% 50%)
  cursor pointer
  opacity 0.4
  &:before, &:after
    content ""
    position absolute
    border-radius 2px
    background-color #fff
  &:before
    width 5px
    top 0
    bottom 0
    left 50%
    margin-left -3px
  &:after
    height 5px
    top 50%
    right 0
    left 0
    margin-top -3px
  @media $medium
    top 40px
    right 11%
