// main: ../../_main.styl

#main-nav--bar
  position absolute
  width 100vw
  top 0
  right 0
  padding-top 25px
  text-align right
  @media $medium
    padding-top 3%
.main-nav--toggle-open
  display inline-block
  vertical-align middle
  padding 0 15px
  cursor pointer
.main-nav--toggle-open-dot
  background rgba(255,255,255,0.4)
  border-radius 100%
  width 6px
  height 6px
  display block
  margin 6px
