// main: ../../_main.styl

.sample--intro
  position relative
  padding-top 10%
  padding-bottom 10%
  theme(background-color, 'secondary-light', @($theme) {
    darken(saturate($theme, 3), 6)
  })
  transition background-color $theme-transition
  .sample-list--item
    padding 0
  &:before
    content ""
    position absolute
    top 100%
    left 50%
    margin-top -30px
    margin-left -28px
    width 56px
    height 56px
    display block
    border-radius 100%
    theme(background-color, 'secondary-light', @($theme) {
      darken(saturate($theme, 3), 6)
    })
    transition background-color $theme-transition
  &:after
    content ""
    display block
    position absolute
    top 100%
    left 50%
    width 16px
    height 16px
    margin-left -8px
    margin-top -6px
    border-style solid
    border-width 0 4px 4px 0x
    transform rotate(45deg)
    transform-origin 50% 50%
    border-radius 2px
    border-color rgba(0,0,0,0.15)
  @media $medium
    padding-top 5%
    padding-bottom 5%
    .sample-list--image img
      margin-top 0
      margin-bottom 0
.sample--images
  @media $medium
    display flex
    flex-direction row
    justify-content space-between
    flex-wrap wrap
    align-items flex-start
.sample--image
  margin-bottom 3vw
  &.align-center
    align-self center
  &.align-flex-end
    align-self flex-end
  &.large
    width 100%
  img, video
    width 100%
    display block
  &.small, &.medium-small
    img, video
      margin-left auto
      margin-right auto
      max-width 327px
  @media $medium
    &.medium
      flex-grow 1
      flex-shrink 1
      flex-basis 50%
      max-width 50%
      padding-right 1.5vw
      + .medium,
      + .medium + .medium + .medium,
      + .medium + .medium + .medium + .medium + .medium,
      + .medium + .medium + .medium + .medium + .medium + .medium + .medium,
      + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium,
      + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium,
      + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium,
      + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium,
      + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium
        padding-left 1.5vw
        padding-right 0
      + .medium + .medium,
      + .medium + .medium + .medium + .medium,
      + .medium + .medium + .medium + .medium + .medium + .medium,
      + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium,
      + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium,
      + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium,
      + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium,
      + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium,
      + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium + .medium
        padding-left 0
        padding-right 1.5vw
    &.small
      flex-grow 1
      flex-shrink 1
      flex-basis (100% / 3)
      max-width (100% / 3)
      &,
      + .small + .small + .small,
      + .small + .small + .small + .small + .small + .small,
      + .small + .small + .small + .small + .small + .small + .small + .small + .small
        padding-left 0
        padding-right 2vw
      + .small,
      + .small + .small + .small +.small,
      + .small + .small + .small + .small + .small + .small + .small,
      + .small + .small + .small + .small + .small + .small + .small + .small + .small + .small
        padding-left 1vw
        padding-right 1vw
      + .small + .small,
      + .small + .small + .small + .small + .small,
      + .small + .small + .small + .small + .small + .small + .small + .small,
      + .small + .small + .small + .small + .small + .small + .small + .small + .small + .small + .small
        padding-left 2vw
        padding-right 0
    &.xsmall
      flex-grow 1
      flex-shrink 1
      flex-basis 25%
      max-width 25%
      padding-left 0
      padding-right 2.25vw
      + .xsmall
        padding-left 0.75vw
        padding-right 1.5vw
      + .xsmall + .xsmall
        padding-left 1.5vw
        padding-right 0.75vw
      + .xsmall + .xsmall + .xsmall
        padding-left 2.25vw
        padding-right 0
    &.medium-large
      flex-grow (7/3)
      flex-shrink (7/3)
      flex-basis 70%
      max-width 70%
      + .medium-small
        padding-left 1.5vw
        padding-right 0
    &.medium-small
      flex-grow 1
      flex-shrink 1
      flex-basis 30%
      max-width 30%
      + .medium-large
        padding-right 1.5vw
        padding-left 0
@media $medium
  .medium-large:first-of-type,
  :not(.medium-small) + .medium-large
    padding-left 0
    padding-right 1.5vw
